// Adding styling to the TodoList component
.todo-list{
    margin-top: 25px;
    float: right;
    border-radius: 10px;
    min-height: 600px;
    width: 700px;
    background-color: #e6e4df;
    font-family: 'Bitter', serif;
    font-weight: 300;
    color: #18525F;
    display: block;
    justify-content: center;
}